@page
@model PhotosDisplayWebsite.Pages.AboutModel
@{
	ViewData["title"] = "About";
}
<p>本网站用于存放、展示同学们拍摄的优美照片、视频。</p>
<br />
<p>本网站基于以下技术栈开发</p>
<div class="list-group">
	<a href="https://learn.microsoft.com/zh-cn/aspnet/core/razor-pages/?view=aspnetcore-8.0&tabs=visual-studio" target="_blank" class="list-group-item list-group-item-action">
		ASP.NET Core Razor Pages
		<span class="badge bg-primary rounded-pill">C#</span>
	</a>
	<a href="https://v5.bootcss.com/" target="_blank" class="list-group-item list-group-item-action list-group-item-primary">
		Bootstrap
		<span class="badge bg-primary rounded-pill">CSS</span>
	</a>
</div>

<br />
<br />

<p>若有问题请及时向我反馈</p>
<p>联系方式</p>
<div class="list-group">
	<a href="tencent://AddContact/?fromId=50&amp;fromSubId=1&amp;subcmd=all&amp;uin=169699201" class="list-group-item list-group-item-action">
		QQ: 169699201
	</a>
	<a href="mailto:ancdngding@qq.com" class="list-group-item list-group-item-action">
		Email: ancdngding@qq.com
	</a>
</div>