@page
@model PhotosDisplayWebsite.Pages.Account.LoginModel
@{
    ViewData["Title"] = "登录";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">登录</h2>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label type="text" asp-for="Username" class="control-label">Nickname <span class="text-danger">*</span></label>
                    <input type="text" asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label type="text" asp-for="Password" class="control-label">Password <span class="text-danger">*</span></label>
                    <input type="text" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
               @*  <div class="form-group">
                    <label asp-for="Duration" class="control-label">Duration(day)</label>
                    <input asp-for="Duration" class="form-control" type="number" value="5"/>
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.Result != "Success")
{
    <div class="position-fixed top-0 end-0 p-3">
        <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">登录失败</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @Model.Result
            </div>
        </div>
    </div>

    <script>
        (function showToast() {
            var toast = new bootstrap.Toast(document.getElementById('toast'));
            toast.show();
        })();
    </script>
}